# Python 缓存
__pycache__/
*.py[cod]
*$py.class

# 虚拟环境
venv/
venv312/
env/
.env

# IDE 配置文件
.vscode/
.idea/

# 运行生成的临时文件和输出结果
*.pdf
*.docx
*.doc
*.wps
*.xlsx
*.db
temp_*.docx

# 日志和系统文件
*.log
.DS_Store
Thumbs.db